    /* <- Demo Stuff Start */
    /* body {
        font-family: 'Montserrat', sans-serif;
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
        margin: 0;
    } */
    /* nav {
    background-color: #b0c4de;
    height: 10vh;
} */
    
    .navbar {
        box-shadow: 0px 2px 10px #999;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 80vw;
        margin: 0 auto;
        /* min-height: 100vh; */
    }
    
    .btn {
        /* flex: 1 1 auto; */
        margin: 10px;
        padding: 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
    }
    /* Demo Stuff End -> */
    /* <- Magic Stuff Start */
    
    .btn:hover {
        background-position: right center;
        /* change the direction of the change here */
    }
    
    .btn-1 {
        background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    }
    
    .btn-2 {
        background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    }
    
    .btn-3 {
        background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    }
    
    .btn-4 {
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    }
    
    .btn-5 {
        background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    }
    /* Magic Stuff End -> */
    /* ---- reset ---- */
    
    html {
        height: 100%;
    }
    
    body {
        margin: 0;
        font: normal 75% Arial, Helvetica, sans-serif;
        height: 100%;
    }
    
    canvas {
        display: block;
        vertical-align: bottom;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    /* ---- particles.js container ---- */
    
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    
    #main-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    
    .file-upload-wrapper {
        padding: 3em;
    }
    /* @media only screen and (max-width: 600px) {
nav {
    height: 12vh;
}
} */
    
    .navbar {
        transition: all 0.4s;
    }
    
    .navbar .nav-link {
        color: #fff;
    }
    
    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #fff;
        text-decoration: none;
    }
    
    .navbar .navbar-brand {
        color: #fff;
    }
    
    .navbar.active {
        background: #fff;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .navbar.active .nav-link {
        color: #555;
    }
    
    .navbar.active .nav-link:hover,
    .navbar.active .nav-link:focus {
        color: #555;
        text-decoration: none;
    }
    
    .navbar.active .navbar-brand {
        color: #555;
    }
    
    #admin-nav {
        background: linear-gradient(89deg, rgba(255, 94, 223, 1) 30%, rgba(4, 200, 222, 1) 100%);
    }
    
    #navTitle {
        margin-left: 8em;
    }
    
    #navbarNav {
        margin-right: 13em;
    }
    
    .fontChange {
        font-size: 1rem!important;
    }
    
    @media (max-width: 991.98px) {
        .navbar {
            background: inherit;
        }
        #admin-nav {
            background: linear-gradient(89deg, rgba(255, 94, 223, 1) 30%, rgba(4, 200, 222, 1) 100%);
        }
        #navTitle {
            margin-left: 0em;
        }
        #navbarNav {
            margin-right: 0em;
        }
        .navbar .navbar-brand,
        .navbar .nav-link {
            color: #555;
        }
    }
    
     :root {
        box-sizing: border-box;
    }
    /* body {
    margin: 0;
    padding: 1rem;
    max-width: 1200px;
    margin: 30px auto;
} */
    
    h1 {
        font-family: cursive;
    }
    
    .heading {
        text-align: center;
        margin-top: 2rem;
    }
    
    .row1 {
        align-content: center;
        align-items: center;
        display: flex;
        width: 150vh;
        margin: 0 auto;
        justify-content: center;
    }
    
    .row2 {
        align-content: center;
        align-items: center;
        display: flex;
        width: 150vh;
        margin: 0 auto;
        justify-content: center;
    }
    
    .column-1 {
        flex-shrink: 0;
        /* shrinks to 0 to apply 70% width*/
        flex-basis: 50%;
        /* sets initial width to 70%*/
    }
    
    .box {
        padding: 10px;
        border-radius: 12px;
        /* border: 2px solid rgb(116, 113, 113); */
        margin: 1rem;
        /* box-shadow: 1px 1px 1px #000; */
    }
    
    #runbutton {
        margin: 0px;
        padding: 10px;
    }
    
    .evaltext {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .image {
        max-width: 400px;
        border-radius: 5px;
    }
    
    .image2 {
        width: 350px;
    }
    
    .admin-content {
        background: linear-gradient(89deg, rgba(255, 94, 223, 1) 30%, rgba(4, 200, 222, 1) 100%);
        height: 100%;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
    
    .footertext {
        margin: 5px;
        font-size: 1rem;
    }
    
    .resultButton {
        border-radius: 5px;
        border: transparent;
    }
    
    .resultText {
        color: white;
    }
    
    a:hover {
        color: black;
    }
    
    @media only screen and (max-width: 900px) {
        .row1 {
            width: 100%;
            flex-direction: column;
            padding: 10px;
        }
        .row2 {
            width: 100%;
            flex-direction: column-reverse;
            margin-bottom: 30px;
        }
        .box {
            margin: 0 0 1rem;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .admin-content {
            height: 170%;
        }
    }